<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            60
        </session-timeout>
        <!--
        Cookies with httpOnly flag can only be used when transmitted via HTTP 
        (or HTTPS). They are not accessible through non-HTTP APIs such as JavaScript. 
        This restriction eliminates the threat of cookie theft via cross-site 
        scripting (XSS), while leaving the threats of cross-site tracing (XCT) 
        and cross-site request forgery (CSRF) intact.
        -->
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>
    <welcome-file-list>
        <welcome-file>IndexClienteServlet</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>
</web-app>
